---
status: passed
score: 4/4
---
# Verification
Everything works
